
img{
    width: 100%;
    height: 100vh;
  }
.icon{
    height: 20px;
    position: relative;
    top: 45px;
    right: 30px;
    fill: red;
    background-color: transparent;
    border: 1px solid red;
    border-radius: 50%;
    padding: 2px 7px ;
    
}
.input{
    position: relative;
}
